<body>
    <!-- ... 페이지의 다른 콘텐츠들 ... -->
  
    <div id="footer-map" style="height: 200px; width: 100%;"></div>
  
    <!-- Leaflet.js 지도 -->
    <script>
      var latitude = {{ .Site.Params.footer.map.latitude }};
      var longitude = {{ .Site.Params.footer.map.longitude }};
      var zoomLevel = {{ .Site.Params.footer.map.zoom }};
  
      var map = L.map('footer-map').setView([latitude, longitude], zoomLevel);
  
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '© OpenStreetMap contributors'
      }).addTo(map);
  
      var marker = L.marker([latitude, longitude]).addTo(map)
        .bindPopup('서울입니다.')
        .openPopup();
    </script>
  
    <!-- Leaflet.js 라이브러리 -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  </body>
  